{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}


	<img class="bg-img" src={{ asset('https://wallpapercave.com/wp/wp2217655.jpg') }} alt="bg image">
</img>

<div class="example-wrapper">
	<h1 id="mentions">Mentions Légales</h1>

	La société MESNIL BIEN ÊTRE, société par actions simplifiée au capital de 2.000,00 euros, immatriculée au registre du commerce et des sociétés de Rouen sous le numéro 889 017 620 et dont le siège social se situe 120 route de Paris – 76240 Le Mesnil-Esnard, France (ci-après dénommée « MESNIL BIEN ÊTRE » et/ou l’« Éditeur »), en sa qualité de responsable du traitement des données à caractère personnel, attache une grande importance à la protection et au respect de la vie privée.
																												 
																												La présente politique de confidentialité vise à informer, lors de la navigation sur le site internet disponible à l’adresse : www.maydinefrance.ma (ci-après dénommé le « Site ») et/ou lors de l’utilisation de l’application mobile MAY DINE FRANCE (ci-après dénommée l’ « Application »), toute personne utilisant le Site et/ou l’Application (ci-après dénommée les « Utilisateurs ») des pratiques de MESNIL BIEN ÊTRE concernant les conditions de la collecte, de l’utilisation et du partage des informations que les Utilisateurs sont amenés à fournir ainsi que leurs droits. 
																												 
																												Le Site et l’Application sont conformes aux normes françaises et européennes relative à la protection de la vie privée et des données personnelles et notamment à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi 2004-801 du 6 août 2004 et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
	<h3>1. Responsable du traitement des données à caractère personnel collectées</h3>
	Le responsable de traitement des données à caractère personnel est MESNIL BIEN ÊTRE.
	<h3>2. Nature des données collectées</h3>
	Les données collectées sur le Site dans le cadre de l’utilisation du Site et/ou sur l’Application dans le cadre de l’utilisation de l’Application, sont celles permettant à l’Éditeur d’identifier les Utilisateurs directement ou indirectement.
																												 
																												Il peut s’agir des catégories de données suivantes concernant ses Utilisateurs :
	<ul>
		<li>
			données d’état-civil, d’identité, d’identification comme le nom, le prénom, le pseudonyme, l’adresse email, la date de naissance ;
		</li>
		<li>
			données relatives à la vie personnelle comme les habitudes de vie, la situation familiale à l’exclusion de toutes données dites sensibles ou dangereuses (par exemple les données médicales);</li>
		<li>
			données de connexion comme l’adresse IP et des données de navigation comme les cookies.</li>
		Les Utilisateurs qui communiqueraient les données personnelles d’un tiers devront confirmer qu’ils détiennent bien le consentement de ce tiers quant à l’exploitation par le Site et/ou par l’Application, à la publication et/ou à la diffusion sur le Site et/ou sur l’Application des données personnelles de ce dernier.
	</ul>
	<h3>3. Finalité des données personnelles collectées</h3>
	<h4>3.1. Les données personnelles collectées sur le Site et/ou sur l’Application sont utilisées seulement pour et pendant l’exécution des services pour les finalités suivantes :</h4>
	<ul>
		<li>
			enregistrement et authentification de l’Utilisateur ;</li>
		<li>
			permettre à MESNIL BIEN ÊTRE de préparer et de livrer les produits commandés à l’Utilisateur ;</li>
		<li>
			permettre à MESNIL BIEN ÊTRE de contacter et/ou d’envoyer des messages à l’Utilisateur ;</li>
		<li>
			permettre à MESNIL BIEN ÊTRE d’adresser des newsletters aux Utilisateurs ;</li>
		<li>
			permettre aux Utilisateurs de bénéficier du programme de fidélité et de parrainage de MESNIL BIEN ÊTRE ;</li>
		<li>
			gestion des avis des Utilisateurs sur des produits, services ou contenus.</li>
		Par ailleurs, MESNIL BIEN ÊTRE est susceptible d’utiliser les données pour satisfaire, le cas échéant, ses obligations légales et/ou règlementaires.</ul>

	<h4>3.2. Agrégation des données</h4>

	<h5>3.2.1. Agrégation avec des données non personnelles
	</h5>
	MESNIL BIEN ÊTRE se réserve la possibilité de publier, divulguer et utiliser les informations agrégées (informations relatives aux Utilisateurs ou à des groupes ou catégories spécifiques d’Utilisateurs combinées de manière à ce qu’un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d’analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d’autres fins commerciales.

	<h5>3.2.2. Agrégation avec des données personnelles disponibles sur les comptes sociaux de l’Utilisateur
	</h5>
	Si l’Utilisateur se connecte à son compte à partir d’un compte d’un autre service afin de faire des envois croisés, ledit service pourra communiquer à MESNIL BIEN ÊTRE les informations de profil, de connexion, ainsi que toute autre information de l’Utilisateur dont il aurait autorisé la divulgation.  MESNIL BIEN ÊTRE peut agréger les informations relatives aux Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
	<h4>4. Moment de la collecte</h4>
	Les données collectées par MESNIL BIEN ÊTRE sont librement communiquées par les Utilisateurs.
																												Elles peuvent aussi être collectées automatiquement lors de l’utilisation du Site, notamment lorsque l’Utilisateur :
	<ul>
		<li>
			navigue sur les pages du Site et ce, sans même avoir créé de compte ;</li>
		<li>crée un compte sur le Site et/ou sur l’Application ; et/ou
		</li>
		<li>commande des produits à partir du Site et/ou de l’Application ;
		</li>
		<li>adresse une demande à MESNIL BIEN ÊTRE via le formulaire de contact ou par courriel.
		</li>
	</ul>

	<h3>5. Géolocalisation</h3>

	<h4>5.1. Géolocalisation à des fins de fourniture des services</h4>
	Les Utilisateurs sont informés que MESNIL BIEN ÊTRE collecte et traite les données de géolocalisation de l’Utilisateur afin de lui fournir ses services, notamment dans le but de déterminer sa position géographique en temps réel.

	<h4>5.2. Géolocalisation avec mise à disposition des partenaires pour référencement et agrégation (avec opt-in)</h4>
	Les Utilisateurs sont également informés que MESNIL BIEN ÊTRE collecte et traite les données de géolocalisation de l’Utilisateur avec ses partenaires mais s’engage à ce titre à anonymiser les données ainsi utilisées.

</div>{% endblock %}
