{# templates/mollie/payment.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
	{{'Paiement avec Mollie' |trans }}
{% endblock %}

{% block body %}
	<h1>{{'Paiement avec Mollie' |trans }}</h1>
	<p>{{'Veuillez patienter pendant' |trans }}</p>
{% endblock %}
