{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Politique de Cookies</h1>

		<p>Cette politique de cookies a été mise à jour pour la dernière fois le 26/05/2023 et s’applique aux citoyens et aux résidents permanents légaux de l’Espace Économique Européen, de la Suisse et du Maroc.</p>

		<h2>1. Introduction</h2>
		<p>Notre site web,
			<a href="https://maydinefrance.ma">https://maydinefrance.ma</a>
			(ci-après : « le site web ») utilise des cookies et autres technologies liées (par simplification, toutes ces technologies sont désignées par le terme « cookies »). Des cookies sont également placés par des tierces parties que nous avons engagées. Dans le document ci-dessous, nous vous informons de l’utilisation des cookies sur notre site web.</p>


		<h2>2. Que sont les cookies ?</h2>
		<p>Un cookie est un petit fichier simple envoyé avec les pages de ce site web et stocké par votre navigateur sur le disque dur de votre ordinateur ou d’un autre appareil. Les informations qui y sont stockées peuvent être renvoyées à nos serveurs ou aux serveurs des tierces parties concernées lors d’une visite ultérieure.</p>

		<h2>3. Que sont les scripts ?</h2>
		<p>Un script est un élément de code utilisé pour que notre site web fonctionne correctement et de manière interactive. Ce code est exécuté sur notre serveur ou sur votre appareil.</p>
		<h2>4. Qu’est-ce qu’une balise invisible ?</h2>
		<p>Une balise invisible (ou balise web) est un petit morceau de texte ou d’image invisible sur un site web, utilisé pour suivre le trafic sur un site web. Pour ce faire, diverses données vous concernant sont stockées à l’aide de balises invisibles.</p>
		<h2>5. Cookies</h2>
		<p>5.1 Cookies techniques ou fonctionnels
																																	Certains cookies assurent le fonctionnement correct de certaines parties du site web et la prise en compte de vos préférences en tant qu’utilisateur. En plaçant des cookies fonctionnels, nous vous facilitons la visite de notre site web. Ainsi, vous n’avez pas besoin de saisir à plusieurs reprises les mêmes informations lors de la visite de notre site web et, par exemple, les éléments restent dans votre panier jusqu’à votre paiement. Nous pouvons placer ces cookies sans votre consentement.
																																	5.2 Cookies statistiques
																																	Nous utilisons des cookies statistiques afin d’optimiser l’expérience des internautes sur notre site web. Avec ces cookies statistiques, nous obtenons des observations sur l’utilisation de notre site web. Nous demandons votre permission pour placer des cookies statistiques.
																																	5.3 Cookies publicitaires
																																	Sur ce site web, nous utilisons des cookies publicitaires, ce qui nous permet d’avoir une observation des résultats de la campagne. Cela se fait sur la base d’un profil que nous créons en fonction de votre comportement sur https://maydinefrance.ma. Avec ces cookies, vous, en tant que visiteur du site web, êtes lié à un ID unique mais ces cookies ne profileront pas votre comportement et vos centres d’intérêts au service de publicités personnalisées.
																																	5.4 Cookies de marketing/suivi
																																	Les cookies de marketing/suivi sont des cookies ou toute autre forme de stockage local, utilisés pour créer des profils d’utilisateurs afin d’afficher de la publicité ou de suivre l’utilisateur sur ce site web ou sur plusieurs sites web dans des finalités marketing similaires.
																																	Parce que ces cookies sont marqués comme des cookies de suivi, nous vous demandons le droit de les placer.
																																	5.5 Réseaux sociaux
																																	Sur notre site web, nous avons inclus du contenu provenant de Facebook, Twitter, LinkedIn, WhatsApp, Instagram et Pinterest pour promouvoir des pages web (par exemple, « like », « pin ») ou les partager (par exemple, « tweet ») sur des réseaux sociaux comme Facebook, Twitter, LinkedIn, WhatsApp, Instagram et Pinterest. Ce contenu est intégré grâce un code obtenu de Facebook, Twitter, LinkedIn, WhatsApp, Instagram et Pinterest et place des cookies. Ce contenu peut stocker et traiter certaines informations à des fins de publicité personnalisée.
																																	Veuillez lire la déclaration de confidentialité de ces réseaux sociaux (qui peut être modifiée régulièrement) afin de savoir ce qu’ils font de vos données (personnelles) traitées en utilisant ces cookies. Les données récupérées sont anonymisées autant que possible. Facebook, Twitter, LinkedIn, WhatsApp, Instagram et Pinterest se trouvent aux États-Unis.</p>
		<h2>6. Cookies placés</h2>
		<p>WooCommerce
																														Fonctionnel
																														Consent to service woocommerce 
																														Elementor
																														Statistiques (anonymes)
																														Consent to service elementor 
																														Automattic
																														Statistiques
																														Consent to service automattic 
																														Google Fonts
																														Marketing/Suivi
																														Consent to service google-fonts 
																														Google reCAPTCHA
																														Marketing/Suivi
																														Consent to service google-recaptcha 
																														Google Maps
																														Marketing/Suivi
																														Consent to service google-maps 
																														YouTube
																														Marketing/Suivi, Fonctionnel, Statistiques
																														Consent to service youtube 
																														PayPal
																														Fonctionnel
																														Consent to service paypal 
																														Dailymotion
																														Finalité en attente d’enquête
																														Consent to service dailymotion 
																														Facebook
																														Marketing/Suivi, Fonctionnel
																														Consent to service facebook 
																														Twitter
																														Fonctionnel, Marketing/Suivi
																														Consent to service twitter 
																														LinkedIn
																														Marketing/Suivi, Fonctionnel
																														Consent to service linkedin 
																														Divers
																														Finalité en attente d’enquête
																														Consent to service divers
		</p>
		<h2>7. Consentement</h2>
		<p>Lorsque vous visitez notre site web pour la première fois, nous vous montrerons une fenêtre contextuelle avec une explication sur les cookies. Dès que vous cliquez sur « Enregistrer les préférences » vous nous autorisez à utiliser les catégories de cookies et d’extensions que vous avez sélectionnés dans la fenêtre contextuelle, comme décrit dans la présente politique de cookies. Vous pouvez désactiver l’utilisation des cookies via votre navigateur, mais veuillez noter que notre site web pourrait ne plus fonctionner correctement.
																											7.1 Gérez vos réglages de consentement
																											Fonctionnel Toujours activé 
																											Statistiques  Statistiques Marketing  Marketing
		</p>
		<h2>8. Activer/désactiver et supprimer les cookies</h2>
		<p>Vous pouvez utiliser votre navigateur internet pour supprimer automatiquement ou manuellement les cookies. Vous pouvez également spécifier que certains cookies ne peuvent pas être placés. Une autre option consiste à modifier les réglages de votre navigateur Internet afin que vous receviez un message à chaque fois qu’un cookie est placé. Pour plus d’informations sur ces options, reportez-vous aux instructions de la section Aide de votre navigateur.
																								Veuillez noter que notre site web peut ne pas marcher correctement si tous les cookies sont désactivés. Si vous supprimez les cookies dans votre navigateur, ils seront de nouveau placés après votre consentement lorsque vous revisiterez nos sites web.</p>
		<h2>9. Vos droits concernant les données personnelles</h2>
		<p>Vous avez les droits suivants concernant vos données personnelles :
			<ul>
				<li>
					Vous avez le droit de savoir pourquoi vos données personnelles sont nécessaires, ce qui leur arrivera et combien de temps elles seront conservées.</li>
				<li>
					Droit d’accès : vous avez le droit d’accéder à vos données personnelles que nous connaissons.</li>
				<li>
					Droit de rectification : vous avez le droit à tout moment de compléter, corriger, faire supprimer ou bloquer vos données personnelles.</li>
				<li>
					Si vous nous donnez votre consentement pour le traitement de vos données, vous avez le droit de révoquer ce consentement et de faire supprimer vos données personnelles.</li>
				<li>
					Droit de transférer vos données : vous avez le droit de demander toutes vos données personnelles au responsable du traitement et de les transférer dans leur intégralité à un autre responsable du traitement.</li>
				<li>
					Droit d’opposition : vous pouvez vous opposer au traitement de vos données. Nous obtempérerons, à moins que certaines raisons ne justifient ce traitement.</li>
				Pour exercer ces droits, veuillez nous contacter. Veuillez vous référer aux coordonnées au bas de cette politique de cookies. Si vous avez une plainte concernant la façon dont nous traitons vos données, nous aimerions en être informés, mais vous avez également le droit de déposer une plainte auprès de l’autorité de contrôle (l’autorité chargée de la protection des données, comme le CEPD).</p>
		</p>
	</li>
</ul>
<h2>10. Coordonnées</h2>
<p>Pour des questions et/ou des commentaires sur notre politique de cookies et cette déclaration, veuillez nous contacter en utilisant les coordonnées suivantes :
	
		SAS MESNIL BIEN-ÊTRE120 Route de Paris76240 Le Mesnil-EsnardFranceSite web : https://maydinefrance.maE-mail : maydinefrance@gmail.comNuméro de téléphone: +33 7 85 25 35 81</p></div>{% endblock %}
